---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  {% for file in site.static_files %}
  {% if file.path contains 'assets/notes_cours' %}
  {% assign notes = site.data.notes_descriptions[file.basename] %}
  <h2 class="post-list-heading">{{ notes.nicename }} (<a href="{{ file.path | relative_url }}" target="_blank">PDF</a>)
  </h2>
  <a href="{{ file.path | relative_url }}" target="_blank"><img src="/assets/img/{{ notes.cover }}" height="300px"></a>
  <ul class="post-list">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <li>
      <!-- <span class="post-meta">{{ file.modified_time | date: date_format }}</span> -->
      <span class="post-meta">{{ notes.date | date: date_format }}</span>
      <h3>
        {{ notes.description }}
      </h3>
    </li>
  </ul>

  {% endif %}
  {% endfor %}

</article>